<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="container">
            <!-- Name above the navbar -->
            <span class="navbar-text-primary">
                vehicle
            </span>
            <!-- Add button -->
<!--            <a class="btn btn-danger ml-auto" href="{% url 'updateanddelete:add' %}">Add Movie</a>-->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
      </ul>
        <a class="btn btn-danger ml-auto" class="nav-link ml-auto" href="{% url 'updateanddelete:add' %}">Add </a>
    </div>

        </div>
    </nav>

<div class="container">
<div class="row">
    {% for i in f %}
<div class="col-sm-4">

<div class="card; card mb-3" style="width: 200px; height:300px;">
  <img src="{{i.img.url}}" class="card-img-top" alt="..." style="height:200px;">

  <div class="card-body">
    <p class="card-text">{{i.name}}</p>
    <br>
      <a href="{% url 'updateanddelete:somewhere' i.id %}" class="btn-btn-dark">details</a>
    <br>

  </div>
</div>

</div>
    <br>
    {% endfor %}
</div>
</div>
</body>
</html>